*.db
*.opendb
*.db-shm
*.db-wal
*.ipdb
*.exp
*.iobj
*.metagen
*.tlog
*.res
*.asm
*.resources
*.bsc
*.lock
*.ide-wal
*.ide-shm
*.ide

libs/build/Python-3.6.4/PCbuild/obj/36amd64_Release/pythoncore/pythonnt_rc.h
libs/build/Python-3.6.4/PCbuild/obj/36amd64_Release/pythoncore/gitversion.txt
libs/build/Python-3.6.4/PCbuild/obj/36amd64_Release/pythoncore/gittag.txt
libs/build/Python-3.6.4/PCbuild/obj/36amd64_Release/pythoncore/gitbranch.txt
plugins/openface/build/*
plugins/xmpp/build/*
plugins/wiimote/build/*
plugins/winsensors/build/*
bin/x64/vc140/Lib/*
bin/x64/vc140/share/*
libs/build/
plugins/model/pipes/model
plugins/bayesnet



bin/x64/vc140/Lib/*
bin/x64/vc140/share/*
bin/x64/vc140/python37/*
bin/x64/vc140/python38/*

ui/mkplugin/obj/*
ui/xmlpipeui/obj/*
ui/setup/obj/*
ui/xmledit/obj/*
ui/xmledit/SSIXmlEditor/obj/*
ui/xmledit/SSIXmlEditor/Release/*
ui/xmledit/SSIXmlEditor/libs/*

bin/x64/vc140/NuiDatabase/*

plugins/fubi/build/dlls/FubiRecognizers.h
setup.exe.config
mkplugin.exe.config
*.idb
*.ipch
plugins/json/build/test/board.option

*.obj
*.pdb
*.log
*.cache
*.sbr
*.user
*.suo
x64/*
bin/x64/vc140/*.lib
core/build/test/*
plugins/*/build/test/Release/*
plugins/*/build/test/Debug/*
plugins/dspfilters/build/libs/DSPFilters/Builds/lib/x64/vc140/DSPFilters.lib
plugins/liblinear/build/libs/liblinear-2.1/lib/x64/vc140/liblinear.lib
plugins/libsvm/build/libs/libsvm-3.20/lib/x64/vc140/libsvm.lib
libs/x64/vc140/*
libs/build/Python-3.6.4/PCbuild/obj/36amd64_Debug/pythoncore/pythonnt_rc.h
libs/build/Python-3.6.4/PCbuild/obj/36amd64_Debug/pythoncore/gitversion.txt
libs/build/Python-3.6.4/PCbuild/obj/36amd64_Debug/pythoncore/gittag.txt
libs/build/Python-3.6.4/PCbuild/obj/36amd64_Debug/pythoncore/gitbranch.txt
plugins/python/build/test/ssipy.pyd
plugins/model/build/tools/ssi_last.err
plugins/python/build/dlls/ssipy.pyd
/plugins/model/pipes/model
plugins/openface2/build/lib/local/LandmarkDetector/model/patch_experts/cen_patches_0.25_of.dat
plugins/openface2/build/lib/local/LandmarkDetector/model/patch_experts/cen_patches_0.35_of.dat
plugins/openface2/build/lib/local/LandmarkDetector/model/patch_experts/cen_patches_0.50_of.dat
plugins/openface2/build/lib/local/LandmarkDetector/model/patch_experts/cen_patches_1.00_of.dat
bin/x64/vc140/model/patch_experts/cen_patches_1.00_of.dat
bin/x64/vc140/model/patch_experts/cen_patches_0.50_of.dat
bin/x64/vc140/model/patch_experts/cen_patches_0.35_of.dat
bin/x64/vc140/model/patch_experts/cen_patches_0.25_of.dat
plugins/openface2/build/test/cam.option
ui/xmledit/SSIReader/Release/x64/vc140/ssidllservice.pch
bin/x64/vc140/xmltraind.ilk
bin/x64/vc140/xmltraind.exe
bin/x64/vc140/xmlpipeui.exe.config
bin/x64/vc140/xmlpiped.exe
bin/x64/vc140/xmlchaind.ilk
bin/x64/vc140/xmlchaind.exe
*.ilk
bin/x64/vc140/apigend.exe
bin/x64/vc140/convertd.exe
bin/x64/vc140/sockspyd.exe
bin/x64/vc140/opencv_world310d.dll
bin/x64/vc140/ssicontrold.dll
bin/x64/vc140/ssidialogd.dll
bin/x64/vc140/ssidllservice.dll
bin/x64/vc140/ssieventd.dll
bin/x64/vc140/ssiioputd.dll
bin/x64/vc140/ssigraphicd.dll
bin/x64/vc140/ssiframed.dll
bin/x64/vc140/ssipythond.dll
bin/x64/vc140/ssimoused.dll
plugins/libsvm/build/libs/libsvm-3.20/lib/x64/vc140/libsvmd.lib
plugins/liblinear/build/libs/liblinear-2.1/lib/x64/vc140/liblineard.lib
plugins/dspfilters/build/libs/DSPFilters/Builds/lib/x64/vc140/DSPFiltersd.lib
bin/x64/vc140/ssiartkplusd.dll
bin/x64/vc140/openSmileLib_Debug.dll
bin/x64/vc140/ssibiosigd.dll
bin/x64/vc140/ssiehealthd.dll
bin/x64/vc140/ssidspfiltersd.dll
bin/x64/vc140/ssiehealthd.dll
bin/x64/vc140/ssieyesigd.dll
bin/x64/vc140/ssiiomd.dll
bin/x64/vc140/ssiskeletond.dll
bin/x64/vc140/ssitheeyetribed.dll
bin/x64/vc140/ssitorchd.dll
bin/x64/vc140/ssitheeyetribed.dll
bin/x64/vc140/ssitouchmoused.dll
bin/x64/vc140/ssirawinputd.dll
bin/x64/vc140/ssipraat.dll
bin/x64/vc140/ssiopensmilewrapperd.dll
bin/x64/vc140/tbb_debug.dll
bin/x64/vc140/ssixmppd.dll
bin/x64/vc140/ssiaudiod.dll
bin/x64/vc140/ssiavid.dll
bin/x64/vc140/ssicontrol.dll
bin/x64/vc140/ssiemovoiced.dll
bin/x64/vc140/ssifacecropd.dll
bin/x64/vc140/ssieventinterpreterd.dll
bin/x64/vc140/ssiframe.dll
bin/x64/vc140/ssifastDTWd.dll
bin/x64/vc140/ssiffmpegd.dll
bin/x64/vc140/ssifusiond.dll
bin/x64/vc140/ssigazetrackerd.dll
bin/x64/vc140/ssiimaged.dll
bin/x64/vc140/ssijsond.dll
bin/x64/vc140/ssikeyboardd.dll
bin/x64/vc140/ssilibsoxfilterd.dll
bin/x64/vc140/ssiliblineard.dll
bin/x64/vc140/ssilibsvmd.dll
bin/x64/vc140/ssimodeld.dll
bin/x64/vc140/ssiwiimoted.dll
bin/x64/vc140/ssiwinsensorsd.dll
bin/x64/vc140/ssiwebsocketd.dll
bin/x64/vc140/ssivectorfusiond.dll
bin/x64/vc140/ssivad_webrtcd.dll
bin/x64/vc140/ssisignald.dll
bin/x64/vc140/ssipraatd.dll
bin/x64/vc140/ssiopensmiled.dll
bin/x64/vc140/ssiopenfaced.dll
bin/x64/vc140/ssicamerad.dll
bin/x64/vc140/ssiazurekinectd.dll
*.pch
plugins/openface2/build/x64/Debug/test.lib
plugins/openface2/build/x64/Debug/test.exe
plugins/openface2/build/x64/Release/test.lib
plugins/openface2/build/x64/Release/test.exe
plugins/openface2/build/lib/local/FaceAnalyser/x64/Release/FaceAnalyser.vcxproj.FileListAbsolute.txt
plugins/openface2/build/lib/local/LandmarkDetector/x64/Release/LandmarkDetector.vcxproj.FileListAbsolute.txt
plugins/openface2/build/lib/local/Utilities/x64/Release/Utilities.vcxproj.FileListAbsolute.txt
plugins/openface2/build/lib/local/GazeAnalyser/x64/Release/GazeAnalyser.vcxproj.FileListAbsolute.txt
plugins/openpose/models/face/pose_iter_116000.caffemodel
plugins/openpose/models/hand/pose_iter_102000.caffemodel
plugins/openpose/models/pose/body_25/pose_iter_584000.caffemodel
plugins/openpose/build/test/camera.option
plugins/openpose/pipes/camera.option
plugins/openpose/build/test/camera.option
*.option
bin/x64/vc140/python37/
bin/x64/vc140/Scripts/
bin/x64/vc140/python37.zip
bin/x64/vc140/python-3.7.7-embed-amd64.zip
*.obj
plugins/pupiltracker/build/test/ssi_last.err
bin/x64/vc140/_asyncio.pyd
bin/x64/vc140/_bz2.pyd
bin/x64/vc140/_ctypes.pyd
bin/x64/vc140/_decimal.pyd
bin/x64/vc140/_elementtree.pyd
bin/x64/vc140/_hashlib.pyd
bin/x64/vc140/_lzma.pyd
bin/x64/vc140/_msi.pyd
bin/x64/vc140/_multiprocessing.pyd
bin/x64/vc140/_overlapped.pyd
bin/x64/vc140/_queue.pyd
bin/x64/vc140/_socket.pyd
bin/x64/vc140/_sqlite3.pyd
bin/x64/vc140/_ssl.pyd
bin/x64/vc140/libcrypto-1_1.dll
bin/x64/vc140/libssl-1_1.dll
bin/x64/vc140/LICENSE.txt
bin/x64/vc140/pyexpat.pyd
bin/x64/vc140/python.exe
bin/x64/vc140/python3.dll
bin/x64/vc140/pythonw.exe
bin/x64/vc140/select.pyd
bin/x64/vc140/sqlite3.dll
bin/x64/vc140/unicodedata.pyd
bin/x64/vc140/winsound.pyd
bin/x64/vc140/python38.dll
bin/x64/vc140/python.cat
bin/x64/vc140/libffi-7.dll
plugins/bodyfeatures/build/test/ssi_last.err
plugins/bodyfeatures/build/Release/x64/vc140/test.exe
plugins/bodyfeatures/build/Release/x64/vc140/test.lib
