*.db
*.opendb
*.db-shm
*.db-wal
*.ipdb
*.exp
*.iobj
*.metagen
*.tlog
*.res
*.asm
*.resources
*.bsc
*.lock
*.ide-wal
*.ide-shm
*.ide

libs/build/Python-3.6.4/PCbuild/obj/36amd64_Release/pythoncore/pythonnt_rc.h
libs/build/Python-3.6.4/PCbuild/obj/36amd64_Release/pythoncore/gitversion.txt
libs/build/Python-3.6.4/PCbuild/obj/36amd64_Release/pythoncore/gittag.txt
libs/build/Python-3.6.4/PCbuild/obj/36amd64_Release/pythoncore/gitbranch.txt
plugins/openface/build/*
plugins/xmpp/build/*
plugins/wiimote/build/*
plugins/winsensors/build/*
bin/x64/vc140/Lib/*
bin/x64/vc140/share/*
libs/build/
plugins/model/pipes/model

ui/mkplugin/obj/*
ui/xmlpipeui/obj/*
ui/setup/obj/*
ui/xmledit/obj/*
ui/xmledit/SSIXmlEditor/obj/*
ui/xmledit/SSIXmlEditor/Release/*
ui/xmledit/SSIXmlEditor/libs/*

bin/x64/vc140/NuiDatabase/*

plugins/fubi/build/dlls/FubiRecognizers.h
setup.exe.config
mkplugin.exe.config
*.idb
*.ipch
plugins/json/build/test/board.option

*.obj
*.pdb
*.log
*.cache
*.sbr
*.user
*.suo
x64/*
bin/x64/vc140/*.lib
core/build/test/*
plugins/*/build/test/Release/*
plugins/*/build/test/Debug/*
plugins/dspfilters/build/libs/DSPFilters/Builds/lib/x64/vc140/DSPFilters.lib
plugins/liblinear/build/libs/liblinear-2.1/lib/x64/vc140/liblinear.lib
plugins/libsvm/build/libs/libsvm-3.20/lib/x64/vc140/libsvm.lib
libs/x64/vc140/*
