<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SSIXmlEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SSIXmlEditor.Properties.Settings>
            <setting name="Path" serializeAs="String">
                <value/>
            </setting>
            <setting name="PipelineApp" serializeAs="String">
                <value/>
            </setting>
        </SSIXmlEditor.Properties.Settings>
    </userSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="debugListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="log.txt"/>
      </listeners>
    </trace>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
